dist-newstyle

test.btl
test.ast
test.tc
test.s
test.ir
test.ll
test
tests/**
!tests/Main.hs
!tests/SimpleCompiler.hs
!tests/**/
!tests/**/*.btl
!tests/**/*.out

test.sh
install.sh

runtime/runtime.o
